@media (max-width: 767px) {
    .hdr-user-dropdown {
        min-width: 250px;
    }

    .hdr-user-dropdown .userab h4 {
        min-width: inherit;
    }

    .btn-custom {
        white-space: nowrap;
    }

    .btn-custom svg {
        flex: 0 0 24px;
        height: 24px;
    }
    .dropdown-dark .dropdown-menu .dropdown-item{
        color: #fff !important;
    }
}