video {
  /* flex-grow: 1; */
  flex-shrink: 0;
  object-position: center;
  object-fit: contain;
  height: 100%;
  padding: 130px 0;
  max-height: 100dvh;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.controls .left,
.controls .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.progress-bar {
  flex: 1;
  height: 5px;
  background: #444;
  margin: 0 10px;
  cursor: pointer;
}

.progress {
  width: 0;
  height: 100%;
  background: #f00;
}

.play-pause,
.volume,
.time {
  cursor: pointer;
}

.movie-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.movie-subtitle {
  font-size: 14px;
  color: #fff;
}

.player-footer {
  width: 100%;
}

.player-footer .progress-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.episodes-list-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border-radius: 24px;
  background-color: inherit;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p10 {
  padding: 40px;
}

.my-video-section {
  min-height: 100dvh;
}

@media (max-width: 1700px) {
  .p10 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .my-video-section .controls {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  .controls>div {
    width: 100%;
  }
}